body{
	background-color: whitesmoke;
	font-family: Arial;
  margin: 0;
}
.header {
  background-color: blue;
  padding: 20px;
  text-align: center;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: blue;
  text-align: center;
}