body {
    background-color: wheat;
    text-align: center;
}

.container table {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
}