*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;;
}
header{
	background-image: url('http://giphygifs.s3.amazonaws.com/media/PZ4A51y9K5b56/giphy.gif');
	background-size: cover;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	overflow-y: auto;
	width: 100%;
	height: 100%;
}
.words{
	position: absolute;
	text-align: left;
	right: 470px;
	bottom: 400px;
	color: white;
	font-family:'Poppins', sans-serif;
	letter-spacing: 8px;
	font-size: 30px;
}
.skuy{
	position: absolute;
	text-align: center;
	left: 400px;
	bottom: 200px;
	color: white;
	font-family:'Poppins', sans-serif;
	letter-spacing: 3px;
	font-size: 50px;
}

nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color: grey;
	font-family: 'Poppins', sans-serif;
}

.logo{
	color: rgb(226,226,226);
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 30px;
	width: 50%;
}
.nav-links{
	display: flex;
	justify-content: space-around;
	width: 30%;
}
.nav-links li{
	list-style: none;
}
.nav-links a{
	color: rgb(226,226,226);
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 20px;
	transition: 300ms;

}
.nav-links a:hover{
	color: black;
	font-size: 25pt;
	width: 100%;
}
.burger{
	display: none;
	cursor: pointer;
}

.burger div{
	width: 25px;
	height: 3px;
	background-color: rgb(226,226,226);
	margin: 5px;
}

@media screen and (max-width: 1024px){
	.nav-links{
		width: 60;
	}
}


@media screen and (max-width: 768px){
	body{
		overflow-x :hidden;
	}
	.nav-links{
		position: absolute;
		right: 0px;
		height: 92vh;
		top: 8vh;
		background-color: #5D4954;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 50%;
		transform: translateX(100%);
		transition: transform 0.5 ease-in;
	}
	.nav-links li{
		opacity: 0;
	}
	.burger{
		display: block;
	}

}

.nav-active{
	transform: translateX(0%);
}

@keyframes navLinkFade{
	from{
		opacity: 0;
		transform: translateX(50px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}